<div class="card h-100 product">
  <a  class="product__link"><img
    (mousemove)="onImageChange($event)"
    (touchmove)="onImageChange($event)"
    (touchout)="onImageMouseOut($event)"
    (mouseout)="onImageMouseOut($event)"
    [src]="currentImage"
    [alt]="product.title"
    #productImageContainer
    [routerLink]="['/products', product.id]"
    class="card-img-top product__img"  />
    <app-product-slider-dots
      [len]="product.images.length"
      [activeItem]="currentImageIndex"
      (changeItem)="onChangeImage($event)" ></app-product-slider-dots>
    </a>
    <div class="card-body product__text">
      <h4 class="card-title product__title">
        <a [routerLink]="['/products', product.id]" >{{product.title}}</a>
      </h4>
      <h5 class="product__price">${{product.price | priceFormatter}}</h5>
      <p class="card-text product__description">{{product.description}}</p>
      <button
        (click)="onAddProductToCart()"
      class="btn btn-info product__add-to-cart">Add to cart
      </button>
    </div>
</div>
