<nav aria-label="...">
  <ul class="pagination">
    <li
      (click)="onPrev()"
      class="page-item disabled">
      <button
        [disabled]="currentPage !== 1"
        class="page-link" tabindex="-1">Previous</button>
    </li>
    <li
      *ngFor="let page of getPages()"
      [class.active]="page === currentPage"
      (click)="onPage(page)"
      class="page-item"><button class="page-link">{{page}}</button></li>
    <li
      (click)="onNext()"
      class="page-item">
      <button [disabled]="isOnLastPage()" class="page-link">Next</button>
    </li>
  </ul>

</nav>

