<div class="card">
  <div class="card-header">
    <h3>Price  </h3>
  </div>
  <ul class="list-group flex-row  flex-wrap" >
    <li class="list-group-item flex-fill">
      <label class="custom-radio-btn"> Low to high
        <input
          [value]="Order.ASC"
          type="radio"
          (click)="onRadioButtonChange($event)"
          name="orderByPrice" class="custom-radio-btn__input"/>
        <span class="custom-radio-btn__span"></span>
      </label>
    </li>
    <li class="list-group-item flex-fill">
      <label class="custom-radio-btn"> High to low
        <input
          [value]="Order.DESC"
          (click)="onRadioButtonChange($event)"
          type="radio" name="orderByPrice" class="custom-radio-btn__input"/>
        <span class="custom-radio-btn__span"></span>
      </label>
    </li>
  </ul>
</div>
